h4 {
  margin-bottom: 15px;
  margin-top: 10px;
}

b,
h3,
h4,
p {
  user-select: none;
  cursor: default;
}

body {
  background-color: #fafafa;
}

hr {
  background-color: lightgrey;
}


.circle {
  height: 60px;
  width: 60px;
  border-radius: 35px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 30px;
  padding-top: 12%;
  user-select: none;
  cursor: pointer;
}

.circle-sm {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 12px;
  padding-top: 12%;
  user-select: none;
  cursor: pointer;
}

.circle-container {
  margin-left: 6%;
  margin-right: 6%;
  display: inline-block;
}

.vertical-timeline {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

/* The actual vertical-timeline (the vertical ruler) */
.vertical-timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: lightgrey;
  top: 0;
  bottom: 0;
  left: 70%;
  margin-left: -3px;
}

/* Container around content */
.vertical-timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 60%;
}

/* The circles on the vertical-timeline */
.vertical-timeline-container::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: -20%;
  background-color: grey;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* The circles on the horizontal-timeline */
.horizontal-timeline p:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: grey;
  border-radius: 50%;
  z-index: 1;
  top: -7px;
}

.horizontal-timeline {
  height: 100px;
  width: 100%;
}

.horizontal-timeline-container {
  display: inline-flex;
  padding: 0;
  text-align: center;
}

.horizontal-timeline h5 {
  margin-bottom: 15px;
  padding-left: 33px;
  padding-right: 33px;
  display: table;
  align-items: center;
}

.horizontal-timeline p {
  display: flex;
  justify-content: center;
  border-top: 3px solid lightgrey;
  position: relative;
  padding-top: 15px;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.25);
  overflow: hidden;
  z-index: 2;
  transition: .2s ease;
  opacity: 0;
}

.overlay-container {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #006CFF;
  overflow: hidden;
  width: 100%;
  height: 60%;
  transition: .5s ease;
  z-index: 3;
  padding: 5% 8%;
  border-radius: 15px 15px 0px 0px;
}

.overlay-container h1, .overlay-container h2, .overlay-container h3, .overlay-container h4 {
  color: white;
}