h4 {
	margin-bottom: 15px;
	margin-top: 10px;
}


h3,
h4,
p {
	user-select: none;
	cursor: default;
}

body {
	background-color: #fafafa;
}

hr {
	background-color: lightgrey;
}

.container {
	padding-top: 6%;
	padding-bottom: 2%;
	margin-top: 2%;
	width: 90%;
	-webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
	background-color: white;
}

.floor {
	background-color: lightblue;
	width: 70%;
	display: inline-block;
}

.floor-label-container {
	background-color: #c20808;
	display: inline-block;
	padding: 1.5%;
	height: 40px;
	width: 40px;
	border-radius: 30px;
	margin-right: 3%;
	margin-left: 3%;
}

.door {
	padding: 5%;
	display: inline-block;
}

.door-label {
	color: #c20808;
	font-size: 24px;
}

.door-subtitle {
	color: #c20808;
}

.floor-label {
	color: white;
	font-size: 20px;
}

.editable-label-input {
	background-color: #006CFF;
	color: white;
	font-size:40px;
	font-weight: bold;
	text-align: center;
	display: flex;
	border: 0;
	width: 50%;
	padding: 0;
	margin: -1% -1% 0 0;
}

textarea:focus, input:focus{
    outline: none;
}

.overlay-button {
	background-color: white;
	border-radius: 10px;
	border: none;
	color: #006CFF;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	width: 100%;
}

.overlay-button-mx {
	background-color: #006CFF;
	border-radius: 7px;
	border: none;
	color: white;
	padding: 10px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.overlay-button-mx-light {
	background-color: white;
	border-radius: 7px;
	border: none;
	color: #006CFF;
	padding: 16px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.textfield {
	border: 0;
	background-color: #fafafa;
}

.input-icon {
	display: inline-block;
	margin-right: 5%;
}

@media only screen and (max-width: 600px) {
	.circle {
		height: 60px;
		width: 60px;
	}

	.container {
		margin-top: 2%;
	}
}
